@import  '../animations/carousel';
@import '../animations/fadeIn';
@import '../variables/variables';

body {
    @include body;
    #content {
        margin:$margin-min;
        padding:$padding-min;
        .about {
            width: 100%;
            animation: fadeIn 2s ease-in;
            .about__section1 {
                @include background-color;
                display:flex;   
                align-items: center;
                padding:180px 90px;
                box-sizing: border-box;
                width:100%;
                .about__title {
                    padding: 90px 0px;
                    width:50%;
                    h2 {
                        font-size: map-get($font-size, max);
                        color: white;
                        font-family: $font-family;
                        font-weight: map-get($font-weight, max);
                    }
                }
                .about__presentation {
                    overflow:hidden;
                    border-radius: 3px;
                    margin:$margin-min;
                    padding:$padding-min;
                    width:50%;
                    border:3px solid black;
                    animation:movementImg 2s ease;
                    figure {
                        position: relative;
                        animation: 20s slider infinite;
                        display:flex;
                        margin: $margin-min;
                        padding:$padding-min;
                        width:100%;
                        img {
                            width:800px;
                            max-width: 100%;
                            float:left;
                            height:340px;
                            max-height: 100%;
                        }
                    }
                }    
            }

            .about__section2 {
                padding: 270px 0px;
                display:flex;
                margin:auto;
                justify-content: space-around;
                width:100%;
                .about__decoration1 {
                    justify-content:flex-end;
                    display:flex;
                    align-items: flex-start;
                    width:25%;
                    img {
                        width:400px;
                        max-width: 100%;
                    }
                }
                .about__presentation{
                    line-height: 40px;
                    width:50%;
                    .about__presentation--text {
                        width:60%;
                        margin:auto;
                        text-align: center;
                        p {
                            font-size: map-get($font-size, min);
                            font-family: $font-family;
                            font-weight: map-get($font-weight, min);
                        }
                    }
                    
                }
                .about__decoration2 {
                    justify-content:flex-end;
                    display:flex;
                    align-items: flex-end;
                    width:25%;
                    img {
                        width:400px;
                        max-width: 100%;
                    }
                }
            }

            .about__section3 {
                display:flex;
                text-align: center;
                align-items: center;
                padding:180px 90px;
                box-sizing: border-box;
                width:100%;
                @include background-color;
                .about__title {
                    width: 50%;
                    h2 {
                        font-size: map-get($font-size, max);
                        font-family: $font-family;
                        font-weight: map-get($font-weight, max);
                        color:white;
                    }
                }
                .about__presentation {
                    overflow:hidden;
                    border-radius: 3px;
                    margin:$margin-min;
                    padding:$padding-min;
                    border:3px solid black;
                    box-sizing: border-box;
                    width:50%;
                    
                    figure {
                        position: relative;
                        width: map-get($width-percent, max);
                        animation: 20s slider infinite;
                        display:flex;
                        margin:$margin-min;
                        padding:$padding-min;
                        img {
                            width: 800px;
                            max-width: 100%;
                            float:left;
                            height:340px;
                            max-height: 100%;
                        }
                    }
                }    
            }

            .about__section4 {
                padding:180px 0px;
                width:100%;
                .about__cards {
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    margin:auto;
                    .about__card {
                        width:25%;
                        padding: 90px 50px;
                        .about__card--title {
                            border:3px solid purple;
                            background-color: purple;
                            color:white;
                            border-radius: 3px;
                            text-align: center;
                            font-family: $font-family;
                            font-weight: map-get($font-weight,medium);

                            h2 {
                                font-size: map-get($font-size, max);
                            }
                        }
                        .about__card--img {
                            img {
                                width: map-get($width-percent, max);
                                height: 300px;
                            }
    
                        }
                        .about__card--text {
                            line-height: 40px;
                            border-radius: 3px;
                            text-align: left;
                            font-family: $font-family;
                            font-weight: map-get($font-weight, min);
                            p {
                                font-size: map-get($font-size, extra-min);
            
                            }
                            span {
                                font-size: map-get($font-size, extra-min);
                                font-weight: map-get($font-weight, medium);
                                a {
                                    color:purple;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }  
            }

            .about__section5{
                padding:90px;
                display:flex;
                width: map-get($width-percent, max);
                margin:auto;
                text-align: center;
                align-items: center;
                justify-content: center;
                @include background-color;
                color: white;
                box-sizing: border-box;
                .about__title {
                    line-height: 50px;
                    letter-spacing: 3px;
                    width: 50%;
                    margin-right:120px;
                    
                    h2 {
                        font-size: map-get($font-size, max);
                        font-family: $font-family;
                        font-weight: map-get($font-weight, max);
                        a {
                            color:white;
                            text-decoration: none;
                        }
                    }
                }
                .about__image {
                    width:50%;
                    img {
                        width: 600px;
                        max-width: 100%;
                        @include border;   
                    }
                }
            }
        }
        
    }
    
}