@import  '../animations/carousel';
@import '../animations/fadeIn';
@import '../variables/variables';

body {
    @extend %body;
    #content {
        margin:$margin-min;
        padding:$padding-min;

        //--------------------------------------------Section About---------------------------------------------//

        .about {
            width: map-get($width-percent, max);
            animation: fadeIn 2s ease-in;
            .about__section1 {
                @extend %background-color;
                display:map-get($display, fx);   
                align-items: map-get($paramether, cen);
                padding:180px 90px;
                box-sizing:border-box;
                width:map-get($width-percent, max);
                .about__title {
                    padding: 90px 0px;
                    width:map-get($width-percent, medium-5);
                    h2 {
                        font-size: map-get($font-size--title, max);
                        color: map-get($color, whi);
                        font-family: $font-family;
                        font-weight: map-get($font-weight, max);
                    }
                }
                .about__presentation {
                    overflow:hidden;
                    border-radius: 3px;
                    margin:$margin-min;
                    padding:$padding-min;
                    width:map-get($width-percent, medium-5);
                    @extend %border;
                    animation:movementImg 2s ease;
                    figure {
                        position: relative;
                        animation: 20s slider infinite;
                        display:map-get($display, fx);
                        margin: $margin-min;
                        padding:$padding-min;
                        width:map-get($width-percent, max);
                        img {
                            width:800px;
                            max-width:map-get($width-percent, max);
                            float:left;
                            height:340px;
                            max-height: map-get($width-percent, max);
                        }
                    }
                }    
            }

            .about__section2 {
                padding: 270px 0px;
                display:map-get($display, fx);
                margin:map-get($paramether, mg-cen);
                justify-content: space-around;
                width:map-get($width-percent, max);
                .about__decoration1 {
                    justify-content:map-get($paramether, jcont-end);
                    display:map-get($display, fx);
                    align-items: map-get($paramether, jcont-start);
                    width:25%;
                    img {
                        width:400px;
                        max-width:map-get($width-percent, max);
                    }
                }
                .about__presentation{
                    line-height: 40px;
                    width:map-get($width-percent, medium-5);
                    .about__presentation--text {
                        width:map-get($width-percent, medium-6);
                        margin:map-get($paramether, mg-cen);
                        text-align: map-get($paramether, mg-cen);
                        p {
                            font-size: map-get($font-size--text, medium);
                            font-family: $font-family;
                            font-weight: map-get($font-weight, min);
                        }
                    }
                    
                }
                .about__decoration2 {
                    justify-content:map-get($paramether, jcont-end);
                    display:map-get($display, fx);
                    align-items: map-get($paramether, jcont-end);
                    width:25%;
                    img {
                        width:400px;
                        max-width:map-get($width-percent, max);
                    }
                }
            }

            .about__section3 {
                display:map-get($display, fx);
                text-align: map-get($paramether, cen);
                align-items: map-get($paramether, cen);
                padding:180px 90px;
                box-sizing:border-box;
                width:map-get($width-percent, max);
                @extend %background-color;
                .about__title {
                    width:map-get($width-percent, medium-5);
                    h2 {
                        font-size: map-get($font-size--title, max);
                        font-family: $font-family;
                        font-weight: map-get($font-weight, max);
                        color:map-get($color, whi);
                    }
                }
                .about__presentation {
                    overflow:hidden;
                    border-radius: 3px;
                    margin:$margin-min;
                    padding:$padding-min;
                    @extend %border;
                    box-sizing:border-box;
                    width:map-get($width-percent, medium-5);
                    
                    figure {
                        position: relative;
                        width: map-get($width-percent, max);
                        animation: 20s slider infinite;
                        display:map-get($display, fx);
                        margin:$margin-min;
                        padding:$padding-min;
                        img {
                            width: 800px;
                            max-width: map-get($width-percent, max);
                            float:left;
                            height:340px;
                            max-height: 100%;
                        }
                    }
                }    
            }

            .about__section4 {
                padding:180px 0px;
                width:map-get($width-percent, max);
                .about__cards {
                    display:map-get($display, fx);
                    justify-content: map-get($paramether, cen);
                    align-items: map-get($paramether, cen);
                    flex-wrap: wrap;
                    margin:map-get($paramether, mg-cen);
                    .about__card {
                        width:25%;
                        padding: 90px 50px;
                        .about__card--title {
                            border:3px solid purple;
                            background-color: purple;
                            color:map-get($color, whi);
                            border-radius: 3px;
                            text-align: map-get($paramether, cen);
                            font-family: $font-family;
                            font-weight: map-get($font-weight,medium);

                            h2 {
                                font-size: map-get($font-size--title, max);
                            }
                        }
                        .about__card--img {
                            img {
                                width: map-get($width-percent, max);
                                height: 300px;
                            }
    
                        }
                        .about__card--text {
                            line-height: 40px;
                            border-radius: 3px;
                            text-align: left;
                            font-family: $font-family;
                            font-weight: map-get($font-weight, min);
                            p {
                                font-size: map-get($font-size--text, min);
            
                            }
                            span {
                                font-size: map-get($font-size--text, min);
                                font-weight: map-get($font-weight, medium);
                                a {
                                    color:purple;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }  
            }

            .about__section5{
                padding:90px;
                display:map-get($display, fx);
                width: map-get($width-percent, max);
                margin:map-get($paramether, mg-cen);
                text-align: map-get($paramether, cen);
                align-items: map-get($paramether, cen);
                justify-content: map-get($paramether, cen);
                @extend %background-color;
                color: map-get($color, whi);
                box-sizing:border-box;
                .about__title {
                    line-height: 50px;
                    letter-spacing: 3px;
                    width: map-get($width-percent, medium-5);
                    margin-right:120px;
                    
                    h2 {
                        font-size: map-get($font-size--title, max);
                        font-family: $font-family;
                        font-weight: map-get($font-weight, max);
                        a {
                            color:map-get($color, whi);
                            text-decoration: none;
                        }
                    }
                }
                .about__image {
                    width:map-get($width-percent, medium-5);
                    img {
                        width: 600px;
                        max-width: map-get($width-percent, max);
                        @extend %border;   
                    }
                }
            }
        }
        
    }
    
}