body {
    padding:0px;
    margin:0px;
    #content {
        .character {
            background-color: #a4508b;
            background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%); 
            display:flex;
            margin:auto;
            text-align: center;
            align-items: center;    
            justify-content: center;
            letter-spacing: 3px;
            box-sizing: border-box;
            height: 100vh;
            padding:90px 0px;
            .character__presentation {

                img {
                    width:400px;
                    border-radius:3px;
                    border: 3px solid black;   
                }
                h2 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 2em;
                    color:white;
                    font-weight: bold;
                }
            }
            .character__description {
                box-sizing: border-box;
                color:white;
                font-size: 1em;
                text-align: left;
                padding-left:80px;
                h3 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    span {
                        color:white; 
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 400;
                        letter-spacing: 3px;
                        box-sizing: border-box;
                        margin-left: 10px;

                    }
                }
            }
        }
    }
    
}