@import '../animations/fadeIn';
@import '../variables/variables';

body {
    #content {
        //--------------------------------------------Section Character---------------------------------------------//

        .character {
            animation: fadeIn 2s ease;
            @extend %background-color;
            display:map-get($display, fx);
            text-align: map-get($paramether, cen);
            align-items: map-get($paramether, cen);    
            justify-content: map-get($paramether, cen);
            letter-spacing: 3px;
            box-sizing:border-box;
            height: 100vh;
            width:map-get($width-percent, max);
            .character__presentation {
                width:map-get($width-percent, medium-5);
                img {
                    width: 350px;
                    border-radius: 50px;
                    @extend %border;
                    max-width: map-get($width-percent, max);
                }
                h2 {
                    font-family: $font-family;
                    font-size: map-get($font-size--title, medium);
                    color:map-get($color, whi);
                    font-weight: map-get($font-weight, medium);
                }
            }
            .character__description {
                box-sizing:border-box;
                color:map-get($color, whi);
                font-size: map-get($font-size--text, min);
                text-align: left;
                width:map-get($width-percent, medium-5);
                h3 {
                    font-family: $font-family;
                    font-weight:600;
                    span {
                        color:map-get($color, whi); 
                        font-family: $font-family;
                        font-weight: map-get($font-weight, min);
                        letter-spacing: 3px;
                        box-sizing:border-box;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}