body {
    padding:0px;
    margin:0px;
    #content {
        .character {
            background-color: #a4508b;
            background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%); 
            display:flex;
            margin:auto;
            text-align: center;
            flex-direction: row;
            padding:90px 0px;
            flex-wrap: wrap;
            align-items: center;
            letter-spacing: 3px;
            .character__presentation {
                margin:auto;
                img {
                    width:25em;
                    border-radius:3px;
                    border: 3px solid black;   
                }
                h2 {
                    font-size: 2em;
                    color:white;
                }
            }
            .character__description {
                margin:auto;   
                box-sizing: border-box;
                color:white;
                font-size: 1.3em;
                text-align: left;
                h3 {
                    font-size: 1.3em;
                    span {
                        color:white; 
                    }
                }
            }
        }
    }
    
}