@import '../variables/variables';

body {
    #content {
        .error404 {
            width: map-get($width-percent, max);
            height: 100vh;
            @include background-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-sizing: border-box; 
            .error404__presentation {
                h2 {
                    font-size: map-get($font-size, max);
                    font-family: $font-family;
                    font-weight: map-get($font-weight, max);
                    color: white;
                }
            }
            .error404__text {
                p {
                    font-size: map-get($font-size, medium);
                    font-family: $font-family;
                    font-weight: map-get($font-weight, medium);
                    color: white;
                }
            }
        }
    }
}