@import '../animations/_fadeIn';
@import '../variables/_variables';

body {
    .content {

        //--------------------------------------------Section Home---------------------------------------------//

        .characters {
            @extend %background-color;
            box-sizing:border-box;
            display:map-get($display, fx);
            flex-wrap: wrap;
            justify-content: map-get($paramether, cen);
            padding: 90px 0px;
            width:map-get($width-percent, max);
            &__presentation {
                text-align: map-get($paramether, cen);
                margin:20px;
                .characters__link {
                    opacity:0.5;
                    text-decoration: none;
                    color:map-get($color, whi);
                    transition: ease-out 0.2s;
                    display:block;
                    font-size: map-get($font-size--px, max);
                    .characters__img {
                        width: 300px;
                        border-radius: 50px;
                        @extend %border;
                        opacity: 0.5;
                        max-width: map-get($width-percent, max);
                    }
                    .characters__title {
                        font-size: map-get($font-size--text, medium);
                        color:map-get($color, whi);
                        font-weight: map-get($font-weight, medium);
                        font-family: $font-family;
                        opacity:0.5; 
                    }
                    &:hover {
                        opacity:1;
                        transform:scale(1.1);
                        .characters__img {
                            opacity:1;   
                        }
                        .characters__title {
                            opacity:1;
                        }   
                    }
                }    
            }
        }
    }
}