@import '../animations/fadeIn';
@import '../variables/variables';

body {
    #content {
        .characters {
            animation: fadeIn 2s forwards;
            @include background-color;
            box-sizing: border-box;
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 90px 0px;
            width:100%;
            .characters__presentation {
                text-align: center;
                margin:20px;
                a {
                    opacity:0.5;
                    text-decoration: none;
                    color:white;
                    transition: ease-out 0.2s;
                    img {
                        width: 300px;
                        border-radius: 50px;
                        border: 3px solid black;
                        opacity: 0.5;
                        max-width: 100%;
                    }
                    h2 {
                        font-size: map-get($font-size, min);
                        color:white;
                        font-weight: map-get($font-weight, medium);
                        font-family: $font-family;
                        opacity:0.5; 
                    }
                }
                a:hover {
                    opacity:1;
                    padding:20px;
                    img {
                        opacity:1;   
                    }
                    h2 {
                        opacity:1;
                    }
                }
            }
        }
    }
}