body {
    #header {
        .header__home {
            display:flex;
            justify-content: space-evenly;
            a {
                text-decoration: none;
                color: black;
                h2 {
                    font-size: 2em;
                }
            }
        }
    }
}