@import '../variables/_variables';

body {
    @extend %body;
    //--------------------------------------------Section Index---------------------------------------------//
    &::-webkit-scrollbar {
        width:8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #CB06A9;
        border-radius: 5px;
    }
    .header {
        @extend %header;
        background-color: #0B2947;
        &__home {
            @extend %header_responsive;
            font-size: map-get($font-size--px, max);
            .header__link {
                @extend %header__a;
                .header__title {
                    @extend %header__h2;
                }
                &:hover {
                    color:map-get($color, gre);
                }
            }
        }

        &__inicio {
            @extend %header_responsive;
            font-size: map-get($font-size--px, max);
            .header__link {
                @extend %header__a;
                .header__title {
                    @extend %header__h2;      
                }
                &:hover {
                    color:map-get($color, gre);
                }
            }
        }

        &__about {
            @extend %header_responsive;
            font-size: map-get($font-size--px, max);
            .header__link {
                @extend %header__a;
                .header__title {
                    @extend %header__h2;
                }
                &:hover {
                    color:map-get($color, gre);

                }
            }
        }
    }
    .content {
        width:map-get($width-percent, max);
        height: 100%;
        margin:$margin-min;
        padding:$padding-min;
        &__presentation {
            height:100vh;
            display:map-get($display, fx);
            @extend %background-color;
            align-items: map-get($paramether, cen);
            width: map-get($width-percent, max);
            .content__background {
                padding: 40px;
                width:map-get($width-percent, medium-5);
                .content__img{
                    width: 800px;
                    @extend %border;
                    max-width: map-get($width-percent, max);
                }
            }
            .content__info {
                animation: moveUp 2s ease;
                padding-right:40px;
                text-align: left;
                box-sizing:border-box;
                width:map-get($width-percent, medium-5);
                font-size: map-get($font-size--px, max);
                .content__title {
                    font-size: map-get($font-size--title, max);
                    color:map-get($color, whi);
                    font-family: $font-family;
                    font-weight: map-get($font-weight, max);
                    
                }
                .content__text{
                    line-height: 35px;
                    font-size: map-get($font-size--text, medium);
                    color:map-get($color, whi);
                    font-family: $font-family;
                    font-weight: map-get($font-weight, min);
                }
                .content__social-media {
                    padding-top:40px;
                    box-sizing:border-box;
                    display:flex;
                    font-size: map-get($font-size--px, max);
                    .content__link {
                        font-size: map-get($font-size--text, medium); 
                        text-decoration: none;
                        color: #a4508b;
                        margin-right: 20px;
                        &:hover {
                            opacity:0.8;
                        }
                        .content__icon{
                            font-size: map-get($font-size--text, max);
                            color:map-get($color, whi);
                            &:hover {
                                color:purple;
                            }
                        }
                    }
                }
            }
        } 
    }
    
}