@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Open+Sans:wght@400;800&display=swap');

$width-percent: (
    min:0%,
    medium-1:10%,
    medium-2:20%,
    medium-3:30%,
    medium-4:40%,
    medium-5:50%,
    medium-6:60%,
    medium-7:70%,
    medium-8: 80%,
    medium-9: 90%,
    max: 100%,
);


$height-percent: 100%;

$padding-min: 0;

$margin-min: 0;

$font-family: 'Montserrat', sans-serif;

$font-weight: (
    min: 400,
    medium: 700,
    max: 800,
);
$font-size--title: (
    min: 1.7em,
    medium:2em,
    max:2.5em
);
$font-size--text: (
    min:1em,
    medium:1.3em,
    max:1.7em,
);

$font-size--px: (
    min: 10px,
    min+1: 11px,
    min+2:12px,
    medium:13px,
    medium+1:14px,
    medium+2:15px,
    max:16px,
);

$display:(
    fx: flex,
);
$paramether: (
    cen:center,
    mg-cen: auto,
    fx-col: column,
    jcont-end:flex-end,
    jcont-start:flex-start,
);

$color:(
    bla:black,
    whi:white,
    gre: grey,
);

//Breakpoint media queries

$phone-width-min: 320px;
$phone-width-medium: 480px;
$phone-width-max:769px;
$tablet-width: 1024px;


//Mixins media queries

@mixin phone-min {
    @media screen and  (max-width:$phone-width-min) and (min-width:0px){
        @content;
    }
};

@mixin phone-max {
    @media screen and (max-width:$phone-width-medium) and (min-width:$phone-width-min){
        @content;
    }
};

@mixin tablet {
    @media screen and (max-width:$phone-width-max) and (min-width:$phone-width-medium){
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width:$tablet-width) and (min-width:$phone-width-max){
        @content;
    }
}


%background-color {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

%body {
    width: map-get($width-percent, max);
    padding: $padding-min;
    margin: $margin-min;
    height: $height-percent;
}

%header {
    width: map-get($width-percent, max);
    height:$height-percent;
    display:map-get($display, fx);
    justify-content: space-evenly;
    align-items: center;
}

%header_responsive {
    @include phone-min{
        font-size: map-get($font-size--px, min);
    }
    @include phone-max {
        font-size:map-get($font-size--px, min+2)

    }
    @include tablet {
        font-size:map-get($font-size--px, medium+1)
    }
    @include desktop {
        font-size:map-get($font-size--px, medium+2)
    }
}

%header__a {
    text-decoration: none;
    color: map-get($color, whi);
    font-family: $font-family;
}

%header__h2 {
    font-size: map-get($font-size--text, min);
    font-weight: map-get($font-weight, min);
    font-family: $font-family;
}

%content {
    width: map-get($width-percent, max);
    height: $height-percent;
}

%border {
    border: 3px solid black;
}

%about__section1_3 {
    display:map-get($display, fx);
    text-align: map-get($paramether, cen);
    align-items: map-get($paramether, cen);
    padding:180px 90px;
    box-sizing:border-box;
    width:map-get($width-percent, max);
    @extend %background-color;
}

%about__title1_3 {
    padding: 90px 0px;
    width:map-get($width-percent, medium-5);
}

%about__title--h21_3 {
    font-size: map-get($font-size--title, max);
    color: map-get($color, whi);
    font-family: $font-family;
    font-weight: map-get($font-weight, max);
}

%about__presentation1_3 {
    overflow:hidden;
    border-radius: 3px;
    margin:$margin-min;
    padding:$padding-min;
    width:map-get($width-percent, medium-5);
    @extend %border;

}

%about__presentation--figure1_3 {
    position: relative;
    animation: 20s slider infinite;
    display:map-get($display, fx);
    margin: $margin-min;
    padding:$padding-min;
    width:map-get($width-percent, max);
}

%about__presentation--img1_3 {
    width:800px;
    max-width:map-get($width-percent, max);
    float:left;
    max-height:250px;
    max-height: map-get($width-percent, max);
    flex-shrink: 0;
}

