@import '../variables/variables';

@media screen and (min-width: 650px) and (max-width: 1199px) {
    body {
        @include body;
        #header {
            @include header;
        }
        #content {
            @include content;
            .content__presentation {
                flex-direction: column;
                .content__presentation--img {
                    padding:40px;
                    img {
                        width:map-get($width-percent, max);
                    }
                }
                .content__presentation--text {
                    padding:0px 40px;
                }
            }

            .character {
                flex-direction: column;
                width: 100%;
                height: 100%;
                display: flex;
                .character__presentation {
                    width:map-get($width-percent, min);
                    img {
                        width: 60%;
                    }
                }
                .character__description {
                    padding-left: $padding-min;
                    text-align: center;
                    width:map-get($width-percent, min);
                }
            }

            .About {
                @include about;
                .about__section1 {
                    @include about__section1;
                    .about__title {
                        width:map-get($width-percent, medium);
                        padding: $padding-min;
                    }
                    .about__presentation {
                        width:map-get($width-percent, medium);
                        margin-top: 90px;
                        figure {
                            width:map-get($width-percent, max);
                            img {
                                float:left;
                                width:map-get($width-percent, max);
                            }
                        }
                    }
                }
                .about__section2{
                    @include about__section2;
                    .about__decoration1 {
                        display:flex;
                        justify-content: center;
                        img {
                            width:map-get($width-percent, medium);
                        }
                    }
                    .about__text {
                        width:map-get($width-percent, min);
                        margin:90px 0px;
                    }
                    .about__decoration2 {
                        display:flex;
                        justify-content: center;
                        width:map-get($width-percent, max);
                        img {
                            width:map-get($width-percent, medium);
                        }
                    }
                }
                .about__section3 {
                    @include about__section3;
                    .about__presentation {
                        width:map-get($width-percent, medium);
                        margin-top: 90px;
                        figure {
                            img {
                                width:map-get($width-percent, max);
                                float:left;
                            }
                        }
                    }
                    .about__title {
                        margin-left:$margin-min;
                    }
                }
                .about__section4 {
                    display: flex;
                    flex-direction: column;
                    .about__cards {
                        .about__card {
                            width:60%;
                            margin: 0px 35px;
                        }
                    }
                }
                .about__section5 {
                    @include about__section5(90px 20px, column-reverse);
                    .about__title {
                        margin:90px 0px 0px 0px;
                        width:map-get($width-percent, medium);
                        padding-right: $padding-min;
                        h2 {
                            font-size: map-get($font-size, medium);
                        }
                    }
                    .about__image {
                        border:none;
                        img {
                            width:map-get($width-percent, medium);
                            border: 3px solid black;
                        }
                    }
                }

            }
        }
    }

}

