@import '../variables/variables';

@media screen and (min-width:0px) and (max-width: 379px) {
    body {
        @include body;
        #header {
            @include header;
        }
        #content {
            @include content;
            .content__presentation {
                @include content__presentation;

                .content__presentation--img {
                    padding:20px;
                    img {
                        width:map-get($width-percent, medium);
                    }
                }
                .content__presentation--text {
                    padding:0px 40px;
                    h2 {
                        font-size: 1.7em;
                    }
                    p {
                        font-size: 1em;
                    }
                }

                .links {
                    a {
                        font-size: 1em;
                    }
                }
            }
            .character {
                @include character;
                .character__presentation {
                    width:map-get($width-percent, medium);
                    img {
                        width:60%;
                    }
                    h2 {
                        font-size: 1.7em;
                    }
                }
                .character__description {
                    padding-left: 0px;
                    text-align: center;
                    width:map-get($width-percent, medium);
                    h3 {
                        font-size: 1em;
                    }
                }
            }

            .characters {
                .character__presentation {
                    a {
                        img{}
                        h2{
                            font-size: 1.7em;
                        }
                    }
                }    
            }

            .About {
                @include about;
                .about__section1 {
                    @include about__section1;
                    .about__title {
                        width:map-get($width-percent, min);
                        padding:0px;
                        h2 {
                            font-size: 1.7em;
                        }
                    }
                    .about__presentation {
                        width:map-get($width-percent, min);
                        margin-top:90px;
                        figure {
                            width:map-get($width-percent, max);
                            img {
                                width:map-get($width-percent, max);
                                float:left;
                            }
                        }
                    }
                }
                .about__section2 {
                    @include about__section2;
                    .about__decoration1 {
                        width: map-get($width-percent, max);
                        img {
                            width:60%;
                            margin:auto;
                        }
                    }
                    .about__text {
                        padding:$padding-min;
                        width:map-get($width-percent, min);
                        margin:90px 0px;
                        p {
                            font-size: 1em;
                        }
                    }
                    .about__decoration2 {
                        width: map-get($width-percent, max);
                        img {
                            width:60%;
                            margin:auto;
                        }
                    }
                }
                .about__section3 {
                    @include about__section3;
                    .about__presentation {
                        width:map-get($width-percent, min);
                        margin-top: 90px;
                        figure {
                            width: map-get($width-percent, max);
                            img {
                                width: map-get($width-percent, max);
                                float:left;
                            }
                        }
                    }
                    .about__title {
                        margin-left:$margin-min;
                        text-align: center;
                        width:map-get($width-percent, min);
                        h2 {
                            font-size: 1.7em;
                        }
                    }
                }
                .about__section4 {
                    .about__cards {
                        flex-wrap:none;
                        padding:$padding-min;
                        width:map-get($width-percent, medium);
                        .about__card {
                            width:map-get($width-percent, max);
                            margin:$margin-min;
                            .about__card--title {
                                h2 {
                                    font-size: 1.7em;
                                }
                            }
                            .about__card--text {
                                p {
                                    font-size: 1em;
                                }
                                span {
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }
                .about__section5 {
                    @include about__section5(90px 20px, column-reverse);
                   .about__title {
                        width:map-get($width-percent, min);
                        padding-right: $padding-min;
                        margin:90px 0px 0px 0px;
                        h2 {
                            font-size: 1.3em;
                        }
                    }
                    .about__image {
                        border:none;
                        img {
                            width:map-get($width-percent, min);
                            border:3px solid black;
                        }
                    }
                }
            }
            .error404 {
                width:map-get($width-percent, max);
                height: $height-percent;
                padding: 270px 0px;
                box-sizing: border-box;
                .error404__presentation {
                    h2 {
                        font-size: 1.7em;
                    }
                }
                .error404__text {
                    p {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 380px) and (max-width: 723px){
    body {
        @include body;
        #header {
            @include header;
        }
        #content {
            @include content;
            .content__presentation {
                @include content__presentation;
                .content__presentation--img {
                    padding: 20px;
                    img {
                        width:map-get($width-percent, medium);
                    }
                }
                .content__presentation--text {
                    padding:0px 40px;
                    h2 {
                        font-size: 1.7em;
                    }
                    p {
                        font-size: 1em;
                    }
                }
                .links {
                    a {
                        font-size: 1em;
                    }
                }
            }
            .character {
                @include character;
                .character__presentation {
                    width:map-get($width-percent, medium);
                    img {
                        width: 60%;
                    }
                    h2 {
                        font-size: 1.7em;
                    }
                    
                }
                .character__description {
                    padding-left: $padding-min;
                    text-align: center;
                    width:map-get($width-percent, medium);
                    h3 {
                        font-size: 1em;
                    }
                }
            }

            .characters {
                .character__presentation {
                    a {
                        img{}
                        h2{
                            font-size: 1.7em;
                        }
                    }
                }    
            }

            .About {
                @include about;
                .about__section1 {
                    @include about__section1;
                    .about__title {
                        width: map-get($width-percent, medium);
                        padding:$padding-min;
                        margin:$margin-min;
                        h2 {
                            font-size: 1.7em;
                        }
                    }
                    .about__presentation {
                        width:map-get($width-percent, medium);
                        margin-top:90px;
                        figure {
                            width:map-get($width-percent, max);
                            img {
                                width:map-get($width-percent, max);
                                float:left;
                            }
                        }
                    }
                }
                .about__section2 {
                    @include about__section2;
                    .about__decoration1 {
                        width:map-get($width-percent, max);
                        display:block;
                        img {
                            width: 60%;
                        }
                    }
                    .about__text {
                        padding:$padding-min;
                        width:map-get($width-percent, medium);
                        margin:90px 0px;
                        p {
                            font-size: 1em;
                        }
                    }
                    .about__decoration2 {
                        display:block;
                        width:map-get($width-percent, max);
                        img {
                            width:60%;
                        }
                    }
                }
                .about__section3 {
                    @include about__section3;
                    .about__presentation {
                        width:map-get($width-percent, medium);
                        margin-top: 90px;
                        border:none;
                        box-sizing: border-box;
                        figure {
                            width:map-get($width-percent, max);
                            img {
                                border: 3px solid black;
                                box-sizing: border-box;
                                width:map-get($width-percent, max);
                                float:left;
                            }
                        }
                    }
                    .about__title {
                        margin-left:$margin-min;
                        text-align: center;
                        width:map-get($width-percent, medium);
                        h2 {
                            font-size: 1.7em;
                        }
                    }
                }
                .about__section4 {
                    .about__cards {
                        flex-wrap:none;
                        padding:0px 45px;
                        .about__card {
                            width:map-get($width-percent, max);
                            margin:$margin-min;
                            .about__card--title {
                                h2 {
                                    font-size: 1.7em;
                                }
                            }
                            .about__card--text {
                                p {
                                    font-size: 1em;
                                }
                                span {
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }
                .about__section5 {
                    @include about__section5(90px 20px, column-reverse);

                    .about__title {
                        width:map-get($width-percent, medium);
                        padding-right: $padding-min;
                        margin:90px 0px 0px 0px;
                        h2 {
                            font-size: 1.3em;
                        }
                    }
                    .about__image {
                        border:none;
                        img {
                            width:map-get($width-percent, medium);
                            border:3px solid black;
                        }
                    }
                }
            }

            .error404 {
                width:map-get($width-percent, max);
                height: $height-percent;
                padding: 270px 0px;
                box-sizing: border-box;
                .error404__presentation {
                    h2 {
                        font-size: 1.7em;
                    }
                }
                .error404__text {
                    p {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}