@media screen and (min-width: 1200px) and (max-width: 1399px){
    body {
        #content {
            .About {
                .about__section3 {
                    .about__presentation {
                        border:none;
                        figure {
                            img {
                                border:3px solid black;
                                box-sizing: border-box;
                            }
                        }
                    }
                }
                .about__section4 {
                    .about__cards {
                        margin:0px;
                        .about__card {
                            width:35%;
                        }
                    }
                }
                .about__section5 {
                    box-sizing:border-box;
                    padding:180px 40px;
                    flex-direction: row;
                    .about__title {
                        margin-right:30px;
                        h2 {
                            font-size: 2.5em;
                        }
                    }
                    .about__image {
                        margin-left:30px
                    }
                }
            }
        }
    }
}
