@import '../variables/variables';

@media screen and (max-width: 320px) and (min-width:0px){
    body {
        #content {
            .content__presentation {
                height: auto;
                flex-direction: column;
                box-sizing: border-box;
                padding:90px 20px;
                .content__presentation--img {
                    width:100%;
                    align-items: auto;
                    padding:0px;
                    box-sizing: border-box;
                    margin:0px;
                }
                .content__presentation--text {
                    width:100%;
                    padding:0px;
                    margin:0px;
                    h2 {
                        font-size: 1.7em;
                    }
                    p{
                        font-size: 1em;
                    }
                }
                .links {
                    a {
                        font-size: 1em;
                    }
                }
            }
            .characters {
                .characters__presentation {
                    padding:0px 20px;
                    a {
                        h2 {
                            font-size: 1.3em;
                        }
                    }
                }
            }
            .character {
                flex-direction: column;
                padding: 90px 40px;
                height: auto;
                box-sizing: border-box;
                .character__presentation {
                    width: 100%;
                    h2 {
                        font-size: 1.7em;
                    }

                }
                .character__description {
                    width:100%;
                    h3 {
                        font-size: 1em;
                    }
                }
            }
            .about {
                .about__section1 {
                    flex-direction: column;
                    padding:90px 20px;
                    .about__title {
                        width:100%;
                        text-align: center;
                        padding:0px;
                        h2 {
                            font-size: 1.7em;
                        }
                    }
                    .about__presentation {
                        width: 100%;
                        box-sizing: border-box;
                        figure {
                            img {
                                height: auto;
                            }
                        }
                    }
                }
                .about__section2 {
                    flex-direction: column;
                    .about__decoration1 {
                        width:100%;
                        img {
                            width:60%;
                            margin:auto;
                        }
                    }
                    .about__presentation {
                        width: 100%;
                        margin:60px 0px;
                        .about__presentation--text {
                            width: 80%;
                            p {
                                font-size: 1em;
                            }
                        }
                    }
                    .about__decoration2 {
                        width:100%;
                        img {
                            width:60%;
                            margin:auto;
                        }
                    }
                }
                .about__section3 {
                    flex-direction: column-reverse;
                    padding:90px 20px;
                    .about__presentation {
                        width:100%;
                        figure {
                            img {
                                height: 141px;
                            }
                        }
                    }
                    .about__title {
                        width:100%;
                        h2 {
                            font-size: 1.7em;
                        }
                    }
                }
                .about__section4 {
                    flex-direction: column;
                    padding:90px 0px;
                    .about__cards {
                        .about__card {
                            width:100%;
                            padding:40px 20px;
                            .about__card--title {
                                h2 {
                                    font-size: 1.7em;
                                }
                            }
                            .about__card--text {
                                p {
                                    font-size: 1em;
                                }
                                span {
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }
                .about__section5 {
                    flex-direction: column-reverse;
                    padding:90px 20px;
                    .about__title {
                        width:100%;
                        margin-right: auto;
                        h2 {
                            font-size: 1.3em;
                        }
                    }
                    .about__image {
                        width:100%;
                    }
                }
            }
            .error404 {
                .error404__presentation {
                    h2 {
                        font-size: 1.7em;
                    }
                }
                .error404__text {
                    p {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) and (min-width: 321px){
    body {
        #content {
            .content__presentation {
                height: auto;
                flex-direction: column;
                box-sizing: border-box;
                padding:90px 40px;
                .content__presentation--img {
                    width:100%;
                    align-items: auto;
                    padding:0px;
                    box-sizing: border-box;
                    margin:0px;
                }
                .content__presentation--text {
                    width:100%;
                    padding:0px;
                    margin:0px;
                    h2 {
                        font-size: 1.7em;
                    }
                    p{
                        font-size: 1em;
                    }
                }
                .links {
                    a {
                        font-size: 1em;
                    }
                }
            }
            .characters {
                .characters__presentation {
                    padding:0px 20px;
                    a {
                        h2 {
                            font-size: 1.3em;
                        }
                    }
                }
            }
            .character {
                flex-direction: column;
                padding: 90px 60px;
                height: auto;
                box-sizing: border-box;
                .character__presentation {
                    width: 100%;
                    h2 {
                        font-size: 1.7em;
                    }

                }
                .character__description {
                    width:100%;
                    text-align: center;
                    h3 {
                        font-size: 1em;
                    }
                }
            }
            .about {
                .about__section1 {
                    flex-direction: column;
                    padding:90px 40px;
                    .about__title {
                        width:100%;
                        text-align: center;
                        padding:0px;
                        h2 {
                            font-size: 1.7em;
                        }
                    }
                    .about__presentation {
                        width: 100%;
                        box-sizing: border-box;
                        figure {
                            img {
                                height: auto;
                            }
                        }
                    }
                }
                .about__section2 {
                    flex-direction: column;
                    .about__decoration1 {
                        width:100%;
                        img {
                            margin:auto;
                            width:70%;
                        }
                    }
                    .about__presentation {
                        width: 100%;
                        margin:60px 0px;
                        .about__presentation--text {
                            width: 80%;
                            p {
                                font-size: 1em;
                            }
                        }
                    }
                    .about__decoration2 {
                        width:100%;
                        img {
                            margin:auto;
                            width:70%;
                        }
                    }
                }
                .about__section3 {
                    flex-direction: column-reverse;
                    padding:90px 40px;
                    .about__presentation {
                        width:100%;
                        figure {
                            img {
                                height: 154px;
                            }
                        }
                    }
                    .about__title {
                        width:100%;
                        h2 {
                            font-size: 1.7em;
                        }
                    }
                }
                .about__section4 {
                    flex-direction: column;
                    padding:90px 0px;
                    .about__cards {
                        .about__card {
                            width:100%;
                            padding:60px 40px;
                            .about__card--title {
                                h2 {
                                    font-size: 1.7em;
                                }
                            }
                            .about__card--text {
                                p {
                                    font-size: 1em;
                                }
                                span {
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }
                .about__section5 {
                    flex-direction: column-reverse;
                    padding:90px 40px;
                    .about__title {
                        width:100%;
                        margin-right: auto;
                        h2 {
                            font-size: 1.3em;
                        }
                    }
                    .about__image {
                        width:100%;
                    }
                }
            }
            .error404 {
                .error404__presentation {
                    h2 {
                        font-size: 1.7em;
                    }
                }
                .error404__text {
                    p {
                        font-size: 1em;
                    }
                }
            }
        }
    }

}