@import '../variables/variables';

//-----------------------------------------media queries both 769px to 1024px---------------------------------------//


@include desktop{
    body {
        #content {
            .content__presentation {
                padding:0px 40px;
                box-sizing:border-box;
                .content__presentation--img {
                    width:map-get($width-percent,medium-5);
                    align-items: map-get($paramether, cen);
                    padding:$padding-min;
                    box-sizing:border-box;
                    margin-right:25px;
                }
                .content__presentation--text {
                    width:map-get($width-percent,medium-5);
                    padding:$padding-min;
                    margin-left:25px;
                    h2 {
                        font-size:map-get($font-size--title, medium);
                    }
                    p{
                        font-size:map-get($font-size--text, medium);
                    }
                }
                .links {
                    a {
                        font-size:map-get($font-size--text, medium);
                    }
                }
            }
            .characters {
                .characters__presentation {
                    padding:0px 20px;
                    a {
                        h2 {
                            font-size:map-get($font-size--text, medium);
                        }
                    }
                }
            }
            .character {
                padding: 90px 40px;
                box-sizing:border-box;
                height:100vh;
                .character__presentation {
                    width: map-get($width-percent, max);
                    margin-right:25px;
                    h2 {
                        font-size:map-get($font-size--title, medium);
                    }

                }
                .character__description {
                    width:map-get($width-percent, max);
                    text-align: map-get($paramether, cen);
                    margin-left:25px;
                    h3 {
                        font-size: map-get($font-size--text, medium);
                    }
                }
            }
            .about {
                .about__section1 {
                    .about__title {
                        width:map-get($width-percent, max);
                        text-align: map-get($paramether, cen);
                        padding:$padding-min;
                        margin-right:25px;
                        h2 {
                            font-size:map-get($font-size--title, medium);
                        }
                    }
                    .about__presentation {
                        width: map-get($width-percent, max);
                        box-sizing:border-box;
                        margin-left:25px;
                        figure {
                            width: map-get($width-percent, max);
                            img {
                                height:90%;
                                width: map-get($width-percent, max);
                            }
                        }
                    }
                }
                .about__section2 {
                    padding:180px 0px;
                    .about__decoration1 {
                        width:25%;
                        align-items: map-get($paramether, jcont-start);
                        img {
                            margin:$margin-min;
                        }
                    }
                    .about__presentation {
                        width: map-get($width-percent,medium-5);
                        margin:70px 0px;
                        .about__presentation--text {
                            width: map-get($width-percent,medium-9);
                            p {
                                font-size:map-get($font-size--text, medium);
                            }
                        }
                    }
                    .about__decoration2 {
                        width:25%;
                        align-items: map-get($paramether, jcont-end);
                        img {
                            margin:$margin-min;
                        }
                    }
                }
                .about__section3 {
                    .about__presentation {
                        width:map-get($width-percent, max);
                        margin-right:25px;
                        box-sizing:border-box;
                        figure {
                            width: map-get($width-percent, max);
                            img {
                                height:90%;
                                width: map-get($width-percent, max);
                            }
                        }
                    }
                    .about__title {
                        width:map-get($width-percent, max);
                        margin-left:25px;
                        padding:$padding-min;
                        text-align: center;
                        h2 {
                            font-size:map-get($font-size--title, medium);
                        }
                    }
                }
                .about__section4 {
                    flex-direction: map-get($paramether, fx-col);
                    padding:90px 0px;
                    .about__cards {
                        .about__card {
                            width:35%;
                            .about__card--title {
                                h2 {
                                    font-size:map-get($font-size--title, medium);
                                }
                            }
                            .about__card--text {
                                p {
                                    font-size:map-get($font-size--text, min);
                                }
                                span {
                                    font-size:map-get($font-size--text, min);
                                }
                            }
                        }
                    }
                }
                .about__section5 {
                    .about__title {
                        width:map-get($width-percent,medium-5);
                        margin-right:25px;
                        h2 {
                            font-size:map-get($font-size--title, medium);
                        }
                    }
                    .about__image {
                        width:map-get($width-percent,medium-5);
                        margin-left:25px;
                    }
                }
            }
            .error404 {
                .error404__presentation {
                    h2 {
                        font-size:map-get($font-size--title, medium);
                    }
                }
                .error404__text {
                    p {
                        font-size:map-get($font-size--text, medium);
                    }
                }
            } 
        }
    }
}