@import '../variables/_variables';

//-----------------------------------------media queries both 0px to 320px---------------------------------------//

@include phone-min{
    body {
        &::-webkit-scrollbar {
            width:8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #CB06A9;
            border-radius: 5px;
        }
        .content {
            &__presentation {
                height: 100vh;
                flex-direction: map-get($paramether, fx-col);
                box-sizing:border-box;
                padding:60px 20px;
                .content__background{
                    width:map-get($width-percent, max);
                    align-items: map-get($paramether, mg-cen);
                    padding:$padding-min;
                    box-sizing:border-box;
                    margin:$margin-min;
                    .content__img {
                        width: 80%;
                    }
                }
                .content__info{
                    width:map-get($width-percent, max);
                    padding:$padding-min;
                    margin:$margin-min;
                    font-size: map-get($font-size--px, min);
                    .content__title {
                        line-height: 20px;
                        font-size:map-get($font-size--title, min);
                    }
                    .content__text{  
                        line-height: 18px;
                        font-size: map-get($font-size--text, min);
                    }
                    .content__social-media {
                        font-size: map-get($font-size--px, min);
                        .content__link{
                            font-size: map-get($font-size--text, medium);
                        }
                    }
                }
                
            }
            .characters {
                &__presentation {
                    padding:0px 20px;
                    .characters__link {
                        font-size: map-get($font-size--px, min);
                        .characters__img {
                            width: 60%;
                        }
                        .characters__title {
                            font-size: map-get($font-size--text, medium);
                        }
                    }
                }
            }
            .character {
                flex-direction: map-get($paramether, fx-col);
                padding: 90px 20px;
                box-sizing:border-box;
                &__presentation {
                    width: map-get($width-percent, max);
                    font-size: map-get($font-size--px, min+1);
                    .character__img {
                        width: 45%;
                    }
                    .character__title {
                        font-size:map-get($font-size--title, min);
                    }

                }
                &__description {
                    width:map-get($width-percent, max);
                    text-align: center;
                    font-size: map-get($font-size--px, min);
                    .character__text {
                        font-size: map-get($font-size--text, min)
                    }
                }
            }
            .about {
                .about-section1 {
                    flex-direction: map-get($paramether, fx-col);
                    padding:60px 20px;
                    &__name {
                        width:map-get($width-percent, max);
                        text-align: map-get($paramether, cen);
                        padding:$padding-min;
                        font-size:map-get($font-size--px, min);
                        .about-section1__title {
                            font-size: map-get($font-size--title, min)
                        }
                    }
                    &__presentation {
                        width: map-get($width-percent, medium-8);
                        box-sizing:border-box;
                        .about-section1__figure {
                            width: map-get($width-percent, max);
                            .about-section1__img {
                                height: 80%;
                                width: map-get($width-percent, max);
                            }
                        }
                    }
                }
                .about-section2 {
                    padding:90px 0px;
                    flex-direction: map-get($paramether, fx-col);
                    &__decoration1 {
                        width:map-get($width-percent, max);
                        .about-section2__img {
                            width:map-get($width-percent, medium-6);
                            margin:map-get($paramether, mg-cen);
                        }
                    }
                    &__presentation {
                        width: map-get($width-percent, max);
                        margin:60px 0px;
                        .about-section2__info {
                            width: map-get($width-percent, medium-8);
                            font-size: map-get($font-size--px, min);
                            .about-section2__text {
                                line-height: 25px;
                                font-size:map-get($font-size--text, min)
                            }
                        }
                    }
                    &__decoration2 {
                        width:map-get($width-percent, max);
                        .about-section2__img {
                            width:map-get($width-percent, medium-6);
                            margin:map-get($paramether, mg-cen);
                        }
                    }
                }
                .about-section3 {
                    flex-direction: column-reverse;
                    padding:60px 20px;
                    &__presentation {
                        width:map-get($width-percent, medium-8);
                        .about-section3__figure {
                            width: map-get($width-percent, max);
                            .about-section3__img {
                                height: 80%;
                                width: map-get($width-percent, max);
                            }
                        }
                    }
                    &__name {
                        width:map-get($width-percent, max);
                        padding:0px;
                        font-size: map-get($font-size--px, min);
                        .about-section3__title {
                            font-size: map-get($font-size--title, min)
                        }
                    }
                }
                .about-section4 {
                    flex-direction: map-get($paramether, fx-col);
                    padding:90px 0px;
                    &__cards {
                        .about-section4__card {
                            width:map-get($width-percent, max);
                            padding:40px 20px;
                            .about-section4__name {
                                height: 50px;
                                font-size: map-get($font-size--px, min);
                                .about-section4__title {
                                    font-size:map-get($font-size--title, min);
                                }
                            }
                            .about-section4__background {
                                border-radius: 10px;
                                .about-section4__img {
                                    height: 200px;
                                }
                            }
                            .about-section4__info{
                                font-size: map-get($font-size--px, min);
                                .about-section4__text {
                                    line-height: 25px;
                                    font-size:map-get($font-size--text, extra-min);
                                }
                                .about-section4__span {
                                    font-size: map-get($font-size--text, extra-min);
                                }
                            }
                        }
                    }
                }
                .about-section5 {
                    flex-direction: column-reverse;
                    padding:90px 20px;
                    &__name {
                        width:map-get($width-percent,max);
                        margin-right: map-get($paramether, mg-cen);
                        font-size: map-get($font-size--px, min);
                        .about-section5__title {
                            line-height: 25px;
                            font-size: map-get($font-size--text, max);
                        }
                    }
                    &__background {
                        width:map-get($width-percent,max);
                        .about-section5__img {
                            width:80%;
                        }
                    }
                }
            }
            .error404 {
                &__presentation {
                    font-size: map-get($font-size--px, min);
                    .error404__title {
                        font-size:map-get($font-size--title, min);
                    }
                }
                &__info {
                    font-size: map-get($font-size--px, min);
                    .error404__text {
                        font-size:map-get($font-size--text, min);
                    }
                }
            }
        }
    }
}

//-----------------------------------------media queries both 321px to 480px---------------------------------------//


@include phone-max{
    body {
        .content {
            &__presentation {
                height: 100vh;
                flex-direction: map-get($paramether, fx-col);
                box-sizing:border-box;
                padding:60px 20px;
                .content__background {
                    width:map-get($width-percent, max);
                    align-items: map-get($paramether, mg-cen);
                    padding:$padding-min;
                    box-sizing:border-box;
                    margin:$margin-min;
                    .content__img {
                        width: 80%;
                    }
                }
                .content__info {
                    width:map-get($width-percent, max);
                    padding:$padding-min;
                    margin:$margin-min;
                    font-size: map-get($font-size--px, min);
                    .content__title {
                        line-height: 20px;
                        font-size:map-get($font-size--title, min);
                    }
                    .content__text{  
                        line-height: 18px;
                        font-size:map-get($font-size--text, min);
                    }
                    .content__social-media {
                        font-size: map-get($font-size--px, min);
                        .content__link{
                            font-size: map-get($font-size--text, medium);
                        }
                    }
                }   
            }
            .characters {
                &__presentation {
                    padding:0px 20px;
                    .characters__link {
                        font-size: map-get($font-size--px, min+2);
                        .characters__img {
                            width: 60%;
                        }
                        .characters__title {
                            font-size: map-get($font-size--text, medium);
                        }
                    }
                }
            }
            .character {
                flex-direction: map-get($paramether, fx-col);
                padding: 90px 20px;
                box-sizing:border-box;
                &__presentation {
                    width: map-get($width-percent, max);
                    font-size: map-get($font-size--px, min+2);
                    .character__img {
                        width: 40%;
                    }
                    .character__title {
                        font-size: map-get($font-size--title, min);
                    }

                }
                &__description {
                    width:map-get($width-percent, max);
                    text-align: map-get($paramether, cen);
                    font-size: map-get($font-size--px, min);
                    .character__text {
                        font-size:map-get($font-size--text, medium);
                    }
                }
            }
            .about {
                .about-section1 {
                    flex-direction: map-get($paramether, fx-col);
                    padding:60px 20px;
                    &__name {
                        width:map-get($width-percent, max);
                        text-align:map-get($paramether, cen);
                        padding:$padding-min;
                        font-size: map-get($font-size--px, min);
                        .about-section1__title{
                            font-size:map-get($font-size--title, min);
                        }
                    }
                    &__presentation {
                        width:map-get($width-percent, medium-7);
                        box-sizing:border-box;
                        .about-section1__figure {
                            width: map-get($width-percent, max);
                            .about-section1__img {
                                height: 80%;
                                width: map-get($width-percent, max);
                            }
                        }
                    }
                }
                .about-section2 {
                    padding:90px 0px;
                    flex-direction: map-get($paramether, fx-col);
                    &__decoration1 {
                        width:map-get($width-percent, max);
                        .about-section2__img {
                            margin:map-get($paramether, mg-cen);
                            width:map-get($width-percent, medium-6);
                        }
                    }
                    &__presentation {
                        width: map-get($width-percent, max);
                        margin:60px 0px;
                        .about-section2__info {
                            width: map-get($width-percent,medium-8);
                            font-size: map-get($font-size--px, min);
                            .about-section2__text {
                                line-height: 25px;
                                font-size:map-get($font-size--text, min)
                            }
                        }
                    }
                    &__decoration2 {
                        width:map-get($width-percent, max);
                        .about-section2__img {
                            margin:map-get($paramether, mg-cen);
                            width:map-get($width-percent,medium-6);
                        }
                    }
                }
                .about-section3 {
                    flex-direction: column-reverse;
                    padding:60px 20px;
                    &__presentation {
                        width:map-get($width-percent, medium-7);
                        .about-section3__figure {
                            width:map-get($width-percent, max);
                            .about-section3__img {
                                height: 80%;
                                width: map-get($width-percent, max);
                            }
                        }
                    }
                    &__name {
                        width:map-get($width-percent, max);
                        padding:0px;
                        font-size:map-get($font-size--px, min);
                        .about-section3__title {
                            font-size:map-get($font-size--title, min);
                        }
                    }
                }
                .about-section4 {
                    flex-direction: map-get($paramether, fx-col);
                    padding:90px 0px;
                    &__cards {
                        .about-section4__card {
                            width:map-get($width-percent, max);
                            padding:60px 40px;
                            .about-section4__name {
                                height: 50px;
                                font-size:map-get($font-size--px, min);
                                .about-section4__title{
                                    font-size: map-get($font-size--title, min);
                                }
                            }
                            .about-section4__background {
                                .about-section4__img {
                                    height: 200px;
                                }
                            }
                            .about-section4__info {
                                font-size:map-get($font-size--px, min);
                                .about-section4__text {
                                    line-height: 25px;
                                    font-size: map-get($font-size--text, extra-min);
                                }
                                .about-section4__span {
                                    font-size: map-get($font-size--text, extra-min);
                                }
                            }
                        }
                    }
                }
                .about-section5 {
                    flex-direction: column-reverse;
                    padding:90px 40px;
                    &__name {
                        width:map-get($width-percent, max);
                        margin-right: map-get($paramether, mg-cen);
                        font-size: map-get($font-size--px, min);
                        .about-section5__title{
                            line-height: 25px;
                            font-size: map-get($font-size--text, medium);
                        }
                    }
                    &__background {
                        width:map-get($width-percent,max);
                        .about-section5__img {
                            width:80%;
                        }
                    }
                }
            }
            .error404 {
                &__presentation {
                    font-size: map-get($font-size--px, min);
                    .error404__title {
                        font-size: map-get($font-size--title, min);
                    }
                }
                &__info {
                    font-size: map-get($font-size--px, min);
                    .error404__text {
                        font-size: map-get($font-size--text, min);
                    }
                }
            }
        }
    }

}