@import '../variables/variables';

//-----------------------------------------media queries both 481px to 768px---------------------------------------//


@include tablet{
    body {
        .content {
            &__presentation {
                height: 100vh;
                flex-direction: map-get($paramether, fx-col);
                box-sizing:border-box;
                padding:60px 40px;
                .content__background{
                    width:map-get($width-percent, max);
                    align-items: map-get($paramether,cen);
                    padding:$padding-min;
                    box-sizing:border-box;
                    margin:$margin-min;
                    .content__img {
                        width: 80%;
                    }
                }
                .content__info {
                    width:map-get($width-percent, max);
                    padding:$padding-min;
                    margin:$margin-min;
                    font-size: map-get($font-size--px, medium+1);
                    .content__title{
                        line-height: 35 px;
                        font-size:map-get($font-size--title, medium);
                    }
                    .content__text{
                        line-height: 30px;
                        font-size: map-get($font-size--text, medium);
                    }
                    .content__social-media {
                        font-size: map-get($font-size--px, medium+2);
                        .content__link{
                            font-size: map-get($font-size--text, medium);
                        }
                    }
                }
                
            }
            .characters {
                &__presentation {
                    padding:0px 20px;
                    .characters__link {
                        font-size: map-get($font-size--px, medium); 
                        .characters__img {
                            width: 70%;
                        }
                        .characters__title {
                            font-size: map-get($font-size--text, medium);
                        }
                    }
                }
            }
            .character {
                flex-direction: map-get($paramether, fx-col);
                padding: 90px 40px;
                box-sizing:border-box;
                &__presentation {
                    width: map-get($width-percent, max);
                    font-size: map-get($font-size--px, medium+1);
                    .character__img {
                        width: 40%;
                    }
                    .character__title {
                        font-size: map-get($font-size--title, min);
                    }

                }
                &__description {
                    width:map-get($width-percent, max);
                    text-align: map-get($paramether, cen);
                    font-size: map-get($font-size--px, medium+1);
                    .character__text {
                        font-size:map-get($font-size--text, min);
                    }
                }
            }
            .about {
                .about-section1 {
                    flex-direction:map-get($paramether, fx-col);
                    padding:60px 40px;
                    &__name{
                        width:map-get($width-percent, max);
                        text-align: map-get($paramether, cen);
                        padding:$padding-min;
                        font-size:map-get($font-size--px, medium);
                        .about-section1__title {
                            font-size:map-get($font-size--title, medium);
                        }
                    }
                    &__presentation {
                        width:map-get($width-percent, medium-8);
                        box-sizing:border-box;
                        .about-section1__figure {
                            width: map-get($width-percent, max);
                            .about-section1__img {
                                height: 85%;
                                width: map-get($width-percent, max);
                            }
                        }
                    }
                }
                .about-section2 {
                    padding: 90px 0px;
                    flex-direction: map-get($paramether, fx-col);
                    &__decoration1 {
                        width:map-get($width-percent, max);
                        .about-section2__img {
                            width: map-get($width-percent, medium-4);
                            margin: map-get($paramether, mg-cen);
                        }
                    }
                    &__presentation {
                        width: map-get($width-percent,max);
                        margin:60px 0px;
                        .about-section2__info {
                            font-size: map-get($font-size--px, medium);
                            .about-section2__text {
                                font-size:map-get($font-size--text, medium);
                            }
                        }
                    }
                    &__decoration2 {
                        width:map-get($width-percent, max);
                        .about-section2__img {
                            width: map-get($width-percent, medium-4);
                            margin: map-get($paramether, mg-cen);
                        }
                    }
                }
                .about-section3 {
                    flex-direction: column-reverse;
                    padding:60px 40px;
                    &__presentation {
                        width:map-get($width-percent, medium-8);
                        .about-section3__figure {
                            width: map-get($width-percent, max);
                            .about-section3__img {
                                height: 85%;
                                width: map-get($width-percent, max);
                            }
                        }
                    }
                    &__name {
                        width:map-get($width-percent, max);
                        padding:0px;
                        font-size:map-get($font-size--px, medium);
                        .about-section3__title {
                            font-size:map-get($font-size--title, medium);
                        }
                    }
                }
                .about-section4 {
                    flex-direction: map-get($paramether, fx-col);
                    padding:90px 0px;
                    &__cards {
                        .about-section4__card {
                            width:map-get($width-percent, medium-6);
                            padding:80px 40px;

                            .about-section4__name {
                                height: 100px;
                                font-size: map-get($font-size--px, medium);
                                .about-section4__title {
                                    font-size:map-get($font-size--title, medium);
                                }
                            }
                            .about-section4__background {
                                .about-section4__img {
                                    height: 250px;
                                }
                            }
                            .about-section4__info {
                                font-size: map-get($font-size--px, medium);
                                .about-section4__text {
                                    line-height: 30px;
                                    font-size: map-get($font-size--text, medium);
                                }
                                .about-section4__span {
                                    font-size: map-get($font-size--text, medium);
                                }
                            }
                        }
                    }
                }
                .about-section5 {
                    flex-direction: column-reverse;
                    padding:90px 40px;
                    &__name {
                        width:map-get($width-percent,max);
                        margin-right: map-get($paramether, mg-cen);
                        font-size: map-get($font-size--px, min+2);
                        .about-section5__title {
                            line-height: 35px;
                            font-size: map-get($font-size--title, medium);
                        }
                    }
                    &__background {
                        width:map-get($width-percent, max);
                        .about-section5__img {
                            width: 80%;
                        }
                    }
                }
            }
            .error404 {
                &__presentation {
                    font-size: map-get($font-size--px, min+2);
                    .error404__title {
                        font-size:map-get($font-size--title, medium);
                    }
                }
                &__info {
                    font-size: map-get($font-size--px, min+2);
                    .error404__text {
                        font-size: map-get($font-size--text, medium);
                    }
                }
            }
        }
    }
}